*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.bazingga{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bgvideo{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9){
	.bgvideo{
		width: 100%;
		height: auto;
	}
nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}
nav .logo{
	width: 80px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
	font-size: 17px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	transition: width 0.3s; 
}
nav ul li a:hover::after{
	width: 50%;
}
.SharkyGaming{
	color: #fff;
	position: absolute;
	bottom: 8%;
	padding-left: 100px;
}
.SharkyGaming p{
	font-size: 50px;
	font-weight: 60;
}
.SharkyGaming h1{
	font-size: 130px;
	line-height: 160px;
	margin-left: -15px;
	text-align: center;
	padding-top: 100px;
}
.SharkyGaming h3{
	font-size: 37px;
	font-weight: 400px;
	padding-bottom: 170px;	
}
.about{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
	background-color: #fff;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 7000px;
	height: auto;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 100px;
}
.about-text h2{
	color: #000;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: #000;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #000;
	font-size: 20px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}
footer{
	background: #1d408c;
	height: auto;
	width: auto;
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-top: 30px;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
	color: #fff;	
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: #fff952;
};
}
.footer-bottom{
	background: #4f81f1;
	width: auto;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	color: #000;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
.image-container{
margin-top: 0rem;
width: 22rem;
height: 30rem;
position: relative;
border-radius: 10px;
padding: 60px 20px;
padding-bottom: 20px;
}

.rightside-container{

display: flex;
justify-content: center;
align-content: center;

}

.pic{
justify-self: end;
transition-duration: 300ms;
object-fit: cover ;
width: 100%;
height: 100%;
border: 3px solid white;
border-radius: 10px;
}
.pic:hover{
	scale: 1.1;
}

.content {
	background: #fff;
	padding: 20px 20px;
	border-radius: 20px;
}

.flex-1 h1 {
	color: #000;
}
.flex-1 p {
	color: #000;
	text-align: justify;
}

