*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
.bazingga{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bgvideo{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9){
	.bgvideo{
		width: 100%;
		height: auto;
	}
nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}
nav .logo{
	width: 80px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
	font-size: 17px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	transition: width 0.3s; 
}
nav ul li a:hover::after{
	width: 50%;
}
.SharkyGaming{
	color: #fff;
	position: absolute;
	top: 10%;
	padding-left: 50px;
}
.SharkyGaming p{
	font-size: 50px;
	font-weight: 60;
}
.SharkyGaming h1{
	font-size: 60px;
	line-height: 160px;
	margin-left: -15px;
	text-align: center;
	padding left: 50px;
}
.SharkyGaming h3{
	font-size: 37px;
	font-weight: 400px;
	padding-bottom: 170px;	
}

footer{
	background: #1d408c;
	height: auto;
	width: auto;
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-top: 30px;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
	color: #fff;	
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: #fff952;
};
}
.footer-bottom{
	background: #4f81f1;
	width: auto;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	color: #000;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.flex-1 h1 {
	color: #000;
}
.flex-1 p {
	color: #000;
	text-align: justify;
}

.column {
	float: left;
	width: 33.30%;
	padding: 100px;
}

.column :hover{
	scale: 1.3;
}